<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><li>
                <img id="anim" src="assets/images/duck.gif" alt="github image" height="80" width="80" style=" margin-top: -17%;">
            </li></a>
          </div>

          
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><form action=""><div class="form-group"><input type="text" style="margin-top: 5%; width: 130%; height: 15%;background-color: rgb(70, 68, 68); border: none; color: ghostwhite;" class="form-control header-search-input jump-to-field js-jump-to-field js-site-search-focus  " placeholder="search or jump to" [(ngModel)]="username" name="username"  (keyup.Enter)="findProfile()"></div></form></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>



















<div *ngIf="profile">
  <div class="panel panel-default">

    <div class="panel-heading">
      {{profile.name}} {{profile.login}}
      <span *ngIf="">Works at {{profile.company}}</span> {{profile.location}}
    </div>

    <div class="panel-body">

      <div class="row">
        <div class="col-sm-3">
          <img src="{{profile.avatar_url}}" class="img-circle img-responsive" alt="Profile Image" height="350" width="335">
        </div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
            <li class="list-group-item" *ngIf="profile.blog"><a href="{{profile.blog}}" target="_blank">{{profile.blog}}</a></li>
            <li class="list-group-item" *ngIf="profile.email"><a href="emailto:{{profile.email}}">{{profile.email}}</a></li>
          </ul>
        </div>

        <div>
          <p>
            <span class="label label-default">{{profile.followers}} Followers</span>
            <span class="label label-primary">{{profile.following}} Following</span>
            <span class="label label-success">{{profile.public_gists}} Public gists</span>
          </p>

          <p><a href="{{profile.html_url}}" class="btn btn-success btn-sm">View Profile On Github!</a></p>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Repositories!</h3>
            </div>
            <div class="panel-body" *ngFor="let repo of repos">
              <p class="clearfix">
                <strong>&diams; {{repo.name}}<p style="font-size30"></strong><br> <a href="{{repo.html_url}}" class="btn btn-sm btn-warning ">View This Project On Github</a>
              </p>
              <p class="descrip">{{repo.description}}</p>
            </div> 
          </div>

          <div class="imgs">
            <img id="cart" src="assets/images/github.png" alt="github image" height="60" width="80">
            <img id="cart" src="assets/images/GitIcon.png" alt="github image" height="60" width="80">
            <img id="cart" src="assets/images/Octogit.png" alt="github image" height="60" width="80">
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
